<section id="about"></section>
<h2>About me</h2>

<div class="grid-img-right">
    <p> Hello! My name is Bianca and I am currently a student studying a Bachelor of Interaction Design. University of Canberra defines Interaction Design as "the practice of designing interactive digital products, environments, systems, services and products for use by people".
        <br><br>I have had the opportunity to employ my newly acquired skills into my Junior Designer role at the Department of Finance. In this role I am responsible for assisting the senior designer in creating design artefacts, updating website content and creating illustrations and icons for a whole of government application. <br><br> <a href="#skills">See more</a>
    </p>
    <img src="assets/images/self-syd.jpg">
</div>
<div class="space"></div>
<hr id="brown">
