<section id="experiences"></section>
<h2>Experience</h2>
<div class="exp-grid">
    <div>
        <p>Jul 2020 — Present</p>
        <h4>Junior Designer</h4>
    </div>
    <div>
        <p class="bold">Department of Finance</p>
        <ul>
            <li>Design and build artefacts for the GovTEAMS websites.</li>
            <li>Create and update the brand’s design templates and style guides. As well as create icons and branding elements for the website.</li>
            <li>Draft content pages for the website using a boostrap theme with a basic understanding of CSS and HTML.</li>
        </ul>
    </div>
    <div>
        <p>Feb 2019 — Jul 2020</p>
        <h4>Recruitment Advisor</h4>
    </div>
    <div>
        <p class="bold">Department of Finance</p>
        <ul>
            <li>Managed the administrative component of onboarding staff into the department, including the Letter of Offer process.</li>
            <li>Created internal and external job advertisements and supported the panel members throughout the whole process of onboarding new staff.</li>
        </ul>
    </div>
</div>

<div class="socials-grid">
    <a href="https://www.instagram.com/bianca.ux.design/" target="_blank"><img src="assets/images/icon-in.png"></a>
    <a href="https://www.linkedin.com/in/bianca-schulze-885b8b1a2" target="_blank"><img src="assets/images/icon-li.png"></a>
</div>
