<section id="portfolio"></section>
<h2>Portfolio</h2>
<div class="grid-img-right">
    <div>
        <p> My portfolio intendeds to provide insight into the work that I do. I want my portfolio to showcase the variety, aesthetics and skill that I am capable of. My portfolio captures the tone that I am trying to portray in the work I do. I want it to showcase accessible, simplistic and innovative design features that I tend to use in my work.</p>
        <p> <a href="#content">View Portfolio</a></p>
    </div>
    <p id="self-portrait-bnw"></p>
</div>
<div class="space"></div>
<hr>
