<section id="goodberrys"></section>
<div class="portfolio-grid">
    <div>
        <h3>Website Prototype - Goodberry's</h3>
        <p>
            For this assignment I was required to find an outdated website and code a new and improved working prototype. The improvements I made included improving the accessibility, reducing the amount of main navigations items and incorporating a modern style.</p>
        <p><a href="#myhealth">See next</a></p>
    </div>
    <p id="mockup-goodberrys"></p>
</div>

<hr id="grey">
