<section id="myhealth"></section>
<h3 class="float-right">Mobile App Prototype - myHealth</h3>

<div class="space">
    <div class="space"></div>
</div><br><br><br><br>
<div class="portfolio-grid-2">
    <p id="mockup-myhealth"></p>
    <p>
        For this assignment I was required to go through the design thinking process to ideate and create a prototype of a health app in Adobe XD. The app needed to be accessible, have at least four main functions and promote innovative design. <br><br><a href="#contour">See next</a> </p>
</div>

<hr id="grey-2">
