<section id="skills"></section>
<div class="black-container">
    <h2 id="white">Skills</h2>
    <div class="skills-grid">
        <div>
            <p><img src="assets/images/roman-1.png"></p>
            <h5>Attention to detail</h5>
            <p>I produce quality work with minimal mistakes and errors. </p>
        </div>
        <div>
            <p><img src="assets/images/roman-2.png"></p>
            <h5>Personable</h5>
            <p>I am outgoing and friendly towards everyone I meet. </p>
        </div>
        <div>
            <p><img src="assets/images/roman-3.png"></p>
            <h5>Clear communication</h5>
            <p>I can convey complex things into simple ideas. </p>
        </div>
        <div>
            <p><img src="assets/images/roman-4.png"></p>
            <h5>Time management</h5>
            <p>I thoughtfully plan out tasks and always meet deadlines. </p>
        </div>
        <div>
            <p><img src="assets/images/roman-5.png"></p>
            <h5>Professionalism</h5>
            <p>I am reliable, set high standards for myself and put care into the work that I achieve. </p>
        </div>
        <div>
            <p><img src="assets/images/roman-6.png"></p>
            <h5>Design products</h5>
            <p>Proficient in using Photoshop, InDesign, Illustrator, and XD. </p>
        </div>
    </div>
    <div class="centre-align"><a href="#experiences">See experience</a></div>
</div>
