/*
font-family: 'Libre Bodoni', serif;
font-family: 'Quicksand', sans-serif;
*/

/* MAIN ELEMENTS */
html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 3em;
    font-family: 'Libre Bodoni', serif;
    font-weight: 400;
}

a {
    color: black;
    text-decoration-line: none;
    position: relative;
    top: 0;
    padding: 1em;
}

a:hover {
    color: white;
    transition: top ease 0.5s;
    top: -0.1em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Libre Bodoni', serif;
    margin-top: 2em;
}

h3 {
    font-size: 1.4em;
    font-family: 'Libre Bodoni', serif;
    margin-top: 2.1em;
}

h5 {
    font-size: 1.4em;
    font-family: 'Quicksand',
        sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-bottom: 0.5em;
}

.float-right {
    float: right;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #CEC6B2;
    padding: 2em 0;
    position: fixed;
    width: 100%;
}

footer {
    background-color: #CEC6B2;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: #000;
    height: 50em;
    padding: 2em;
    margin: 0em calc(50% - 50vw);
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero h2 {
    color: white;
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    font-size: 10em;
    margin-top: 0;
}



main {
    margin-bottom: 2em;
}

.bold {
    font-weight: 400;
    font-size: 1.2em;
}

#white {
    color: white;
    margin-top: -1.5em;
    padding-bottom: 3em;
    text-align: center;
}

/* MAIN NAVIGATION */
.menu {
    display: grid;
    grid-template-columns: 6fr 4fr;

}


.subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
}

.subgrid a {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    color: #000;
    text-decoration-line: none;
    position: relative;
    top: 0;
    padding: 1.5em;
}

.subgrid a:hover {
    color: white;
    transition: top ease 0.5s;
    top: -0.2em;
}

.grid-img-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-img-right p {
    margin-left: 3em;
    align-self: center;
}

hr {
    border: 5em solid black;
    margin: 0em calc(50% - 50vw);
    margin-top: -10em;
}

#grey {
    border: 10em solid #EFEFEF;
    width: 50%;
    margin-top: -20em;
    float: right;
}

#grey-2 {
    border: 10em solid #EFEFEF;
    width: 50%;
    margin-top: -20em;
}

.space {
    margin-top: 5em;
}

/* IMAGES */
#self-portrait-bnw {
    background-image: url(https://i.imgur.com/WHWxfAs.jpg);
    height: 400px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* CARD GRID */

.grid-card {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.card {
    /* Add shadows to create the "card" effect */
    max-width: 20em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: black;
}

.container {
    padding: 0.125em 1em;
    position: relative;
    max-width: 60vw;
}

/* PORTFOLIO */

#mockup-goodberrys {
    background-image: url(https://i.imgur.com/8pxGfnr.png);
    height: 400px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
}

.portfolio-grid p {
    align-self: center;
}

#mockup-myhealth {
    background-image: url(https://i.imgur.com/AERhjOJ.png);
    height: 400px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    ;
}

.portfolio-grid-2 {
    display: grid;
    grid-template-columns: 6fr 2fr;
}

.portfolio-grid-2 p {
    align-self: center;
    text-align: end;
}

/* SKILLS GRID */

.black-container {
    background-color: black;
    padding: 8em;
    margin: 0em calc(50% - 50vw);
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 4em 0 4em;
    grid-gap: 5em;
}

.skills-grid p {
    color: white;
    text-align: center;

}

#roman-1 {
    background-image: url(https://i.imgur.com/z7BXSq1.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roman-2 {
    background-image: url(https://i.imgur.com/QA4oBdm.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roman-3 {
    background-image: url(https://i.imgur.com/gjeCqcJ.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roman-4 {
    background-image: url(https://i.imgur.com/crdP5v0.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roman-5 {
    background-image: url(https://i.imgur.com/5JJuZGD.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#roman-6 {
    background-image: url(https://i.imgur.com/9ahPIJb.png);
    height: 5em;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
