---
layout: base
---

<div class="hero">
    <h2>{{ hero.title }}</h2>
</div>

<div class="main-content">
    {{ content }}
</div>

<h2>{{ fancy.text }}</h2>

<!-- insert HTML here -->

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- load the head content from the head.html file -->
    <!-- This content is inserted into the base.html file -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load our reset stylesheet -->
    <link rel="stylesheet" href="assets/css/reset.css">
    <!-- load our main stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- you could add favicons etc here -->

    <!-- set the site title to be a variable, defined in the md file -->
    <title>B.</title>
</head>

<body>
    <header>
        <div class="inner-wrapper">
            <div class="menu">
                <h1>B.</h1>
                <ul class="subgrid">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </header>
    <main>
        <div class="inner-wrapper">
            <!-- STOP! Don't add anything more to the base template -->
            <!-- the content here is loaded through the homepage template -->


            <div class="hero">
                <h2>BOLD.</h2>
            </div>

            <div class="main-content">
                <h1>Hello!</h1>
                <h2>I am your index.md file</h2>
                <p>heklloogjsdh
                    sfdhvs,</p>
                <p>fdghvs</p>

            </div>

            <h2>hello</h2>


        </div>
    </main>

    <!-- The content in this file is inserted into the base.html file -->
    <footer>
        <div class="inner-wrapper">
            <p>This content is in the _footer.html file.</p>
            <p>This page was made by Ben, you should update and remove this text. </p>

            hekllo
        </div>
    </footer>


</body>

</html>
